@model PurrfectMatch.Models.Cat

@{
    ViewBag.Title = "Dodaj kota";
}

<h2 class="text-center mb-4 text-black">Tworzenie nowego profilu kota</h2>

@using (Html.BeginForm("Create", "Cats", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Age)
        @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Gender)
        @Html.DropDownListFor(model => model.Gender, new SelectList(new[] { "Kocur", "Kocica" }), "Wybierz płeć", new { @class = "form-control" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Diseases)
        @Html.TextAreaFor(model => model.Diseases, new { @class = "form-control" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.IsAvailable)
        @Html.CheckBoxFor(model => model.IsAvailable)
    </div>

    <div class="form-group mb-3">
        <label for="ImageFile">Zdjęcie</label>
        <input type="file" name="ImageFile" id="ImageFile" class="form-control" />
    </div>

    <div class="form-group mb-3" id="imagePreviewContainer" style="display:none;">
        <label style="font-weight: bold;">Podgląd zdjęcia:</label>
        <img id="imagePreview" style="max-width: 300px; max-height: 300px; display:block; margin-top: 10px;" />
    </div>

    <button type="submit" class="btn btn-primary">Zapisz kota</button>
}

<script>
    document.getElementById('ImageFile').addEventListener('change', function (event) {
        var reader = new FileReader();
        reader.onload = function (e) {
            var imagePreview = document.getElementById('imagePreview');
            var imagePreviewContainer = document.getElementById('imagePreviewContainer');
            imagePreview.src = e.target.result;
            imagePreviewContainer.style.display = 'block'; 
        };
        reader.readAsDataURL(this.files[0]);
    });
</script>
