@model PurrfectMatch.Models.Cat

@{
    ViewBag.Title = "Dodaj kota";
}

<h2>Dodaj kota</h2>

@using (Html.BeginForm("Create", "Cats", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Age)
        @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsAvailable)
        @Html.CheckBoxFor(model => model.IsAvailable)
    </div>

    <!-- Pole do uploadu zdjęcia -->
    <div class="form-group">
        <label for="ImageFile">Zdjęcie</label>
        <input type="file" name="ImageFile" id="ImageFile" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Zapisz kota</button>
}
