@model IEnumerable<PurrfectMatch.Models.Cat>

@{
    ViewBag.Title = "Lista kotów";
}

<h2>Lista kotów</h2>

<div class="row">
    @foreach (var cat in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="@cat.ImageUrl" class="card-img-top" alt="@cat.Name" />
                <div class="card-body">
                    <h5 class="card-title">@cat.Name</h5>
                    <p class="card-text">@cat.Description</p>
                    <p><strong>Status:</strong> @(cat.IsAvailable ? "Dostępny" : "Niedostępny")</p>
                    <a href="@Url.Action("Details", "Cats", new { id = cat.Id })" class="btn btn-primary">Zobacz szczegóły</a>

                    @* Opcje edytowania i usuwania dostępne tylko dla administratora *@
                    @if (User.IsInRole("Administrator"))
                    {
                        <a href="@Url.Action("Edit", "Cats", new { id = cat.Id })" class="btn btn-warning">Edytuj</a>
                        <a href="@Url.Action("Delete", "Cats", new { id = cat.Id })" class="btn btn-danger">Usuń</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a href="@Url.Action("Create", "Cats")" class="btn btn-primary">Dodaj nowego kota</a>
    </p>
}